body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

h1 {
	font-size: 36px;
	margin-bottom: 10px;
}

p {
	font-size: 18px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}
body {
	background-image: url("img.jpg" ) ;
	background-size: 470px;
	height: 100px;
}
main {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
img {
	border: 5px solid;
	border-radius: 50%;
	padding: 5px;
}
body {
	font-family:"Arial", sans-serif;
	font-size: 16px;
}
a {
	color: #c00;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration:underline;
}
button {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
header, footer {
	color:#ffff;
	background-color: #333;
}